<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div
        class="item"
        id="QtWRKAcDiSxW"
        style="width: 900px; height: 500px"
      ></div>
    </div>

    <script type="text/javascript">
      "use strict";
      let goecharts_QtWRKAcDiSxW = echarts.init(
        document.getElementById("QtWRKAcDiSxW"),
        "white"
      );
      let option_QtWRKAcDiSxW = {
        animation: true,
        color: [
          "#5470c6",
          "#91cc75",
          "#fac858",
          "#ee6666",
          "#73c0de",
          "#3ba272",
          "#fc8452",
          "#9a60b4",
          "#ea7ccc",
        ],
        legend: { show: true, type: "", data: ["radar"] },
        radar: {
          indicator: [
            { name: "x", max: 10000 },
            { name: "y", max: 10000 },
          ],
          shape: "circle",
        },
        series: [
          {
            name: "radar",
            type: "radar",
            smooth: false,
            connectNulls: false,
            showSymbol: false,
            waveAnimation: false,
            renderLabelForZeroData: false,
            selectedMode: false,
            animation: false,
            data: [
              { name: "X1-NF76-B11", value: [236, -220] },
              { name: "X1-NF76-J59", value: [-642, 329] },
              { name: "X1-NF76-A4", value: [0, -23] },
              { name: "X1-NF76-B14", value: [165, -310] },
              { name: "X1-NF76-J61", value: [750, -183] },
              { name: "X1-NF76-J78", value: [183, -720] },
              { name: "X1-NF76-J66", value: [-267, 740] },
              { name: "X1-NF76-J68", value: [-718, 298] },
              { name: "X1-NF76-B35", value: [-312, 179] },
              { name: "X1-NF76-J71", value: [-612, -490] },
              { name: "X1-NF76-J74", value: [-284, -708] },
              { name: "X1-NF76-B19", value: [314, -110] },
              { name: "X1-NF76-J63", value: [479, 630] },
              { name: "X1-NF76-B28", value: [-143, 308] },
              { name: "X1-NF76-I56", value: [-399, 205] },
              { name: "X1-NF76-F50", value: [-28, -67] },
              { name: "X1-NF76-I57", value: [-206, 106] },
              { name: "X1-NF76-K80", value: [-104, 13] },
              { name: "X1-NF76-D44", value: [74, -40] },
              { name: "X1-NF76-A1", value: [0, -23] },
              { name: "X1-NF76-H54", value: [30, -34] },
              { name: "X1-NF76-B9", value: [82, -342] },
              { name: "X1-NF76-J75", value: [-107, -731] },
              { name: "X1-NF76-B15", value: [139, -327] },
              { name: "X1-NF76-J76", value: [152, -764] },
              { name: "X1-NF76-B24", value: [164, 273] },
              { name: "X1-NF76-B27", value: [-202, 309] },
              { name: "X1-NF76-B32", value: [-337, 127] },
              { name: "X1-NF76-B34", value: [-319, 140] },
              { name: "X1-NF76-C41", value: [33, 111] },
              { name: "X1-NF76-E47", value: [-38, 40] },
              { name: "X1-NF76-B16", value: [365, -105] },
              { name: "X1-NF76-J62", value: [491, 538] },
              { name: "X1-NF76-J77", value: [-82, -735] },
              { name: "X1-NF76-B26", value: [-78, 336] },
              { name: "X1-NF76-J67", value: [-99, 741] },
              { name: "X1-NF76-J70", value: [-608, 483] },
              { name: "X1-NF76-D42", value: [74, -40] },
              { name: "X1-NF76-C40", value: [44, 150] },
              { name: "X1-NF76-B13", value: [160, -317] },
              { name: "X1-NF76-J60", value: [519, -546] },
              { name: "X1-NF76-B18", value: [315, -187] },
              { name: "X1-NF76-B21", value: [325, 30] },
              { name: "X1-NF76-H55", value: [30, -34] },
              { name: "X1-NF76-B6", value: [-117, -148] },
              { name: "X1-NF76-J58", value: [-535, 275] },
              { name: "X1-NF76-H53", value: [30, -34] },
              { name: "X1-NF76-G51", value: [25, 58] },
              { name: "X1-NF76-J65", value: [311, 702] },
              { name: "X1-NF76-B36", value: [-326, 2] },
              { name: "X1-NF76-ZD5B", value: [23, -16] },
              { name: "X1-NF76-D43", value: [74, -40] },
              { name: "X1-NF76-B7", value: [-103, -327] },
              { name: "X1-NF76-B25", value: [189, 281] },
              { name: "X1-NF76-B33", value: [-374, 39] },
              { name: "X1-NF76-A3", value: [0, -23] },
              { name: "X1-NF76-H52", value: [30, -34] },
              { name: "X1-NF76-E46", value: [-38, 40] },
              { name: "X1-NF76-B10", value: [215, -278] },
              { name: "X1-NF76-B17", value: [377, -11] },
              { name: "X1-NF76-J79", value: [547, -480] },
              { name: "X1-NF76-J64", value: [650, 292] },
              { name: "X1-NF76-B31", value: [-113, 366] },
              { name: "X1-NF76-J69", value: [-719, -2] },
              { name: "X1-NF76-B38", value: [-116, -323] },
              { name: "X1-NF76-F48", value: [-28, -67] },
              { name: "X1-NF76-F49", value: [-28, -67] },
              { name: "X1-NF76-B8", value: [-39, -314] },
              { name: "X1-NF76-J73", value: [-388, -677] },
              { name: "X1-NF76-B20", value: [281, 183] },
              { name: "X1-NF76-B12", value: [299, -214] },
              { name: "X1-NF76-J72", value: [-735, 15] },
              { name: "X1-NF76-B22", value: [266, 160] },
              { name: "X1-NF76-B30", value: [-169, 262] },
              { name: "X1-NF76-E45", value: [-38, 40] },
              { name: "X1-NF76-A2", value: [0, -23] },
              { name: "X1-NF76-B23", value: [261, 199] },
              { name: "X1-NF76-B29", value: [-235, 307] },
              { name: "X1-NF76-B37", value: [-315, -66] },
              { name: "X1-NF76-C39", value: [44, 150] },
            ],
          },
        ],
        title: { text: "basic radar example" },
        tooltip: { show: false },
      };
      let action_QtWRKAcDiSxW = { areas: {}, type: "" };
      goecharts_QtWRKAcDiSxW.setOption(option_QtWRKAcDiSxW);
      goecharts_QtWRKAcDiSxW.dispatchAction(action_QtWRKAcDiSxW);
    </script>

    <style>
      .container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .item {
        margin: auto;
      }
    </style>
  </body>
</html>
