package shared

templ Footer() {
	<footer>
		<p><b>Author:</b> Ewan Greer 2024</p>
		<a href="https://www.flaticon.com/free-icons/nozzle" title="nozzle icons">Nozzle icons created by Freepik - Flaticon</a>
	</footer>
}
